---
---
@import "{{ site.theme }}";
.site.title{
color:#4D858E
}

* {
    box-sizing: border-box
}

a{
color:#4D858E
}

ul.downloads {
  list-style:none;
  height:40px;
  padding:0;
  /*background: #f4f4f4;*/
  background:  #4d858e;
  border-radius:5px;
  border:1px solid #e0e0e0;
  width:270px;
}

.downloads li {
  width:89px;
  float:left;
  border-right:1px solid #e0e0e0;
  height:40px;
}

.downloads li:first-child a {
  border-radius:5px 0 0 5px;
}

.downloads li:last-child a {
  border-radius:0 5px 5px 0;
}

.downloads a {
  line-height:1;
  font-size:11px;
  color:white;
  text-shadow: 2px 2px rgba(0,0,0,0.5);
  display:block;
  text-align:center;
  padding-top:6px;
  height:34px;
}

.downloads a:hover, .downloads a:focus {
  color:white;
  font-weight:bold;
}

.downloads ul a:active {
  background-color:#f0f0f0;
}

strong {
  color:#365d63;
  font-weight:700;
}

.downloads li + li + li {
  border-right:none;
  width:89px;
}

.downloads a strong {
  font-size:14px;
  display:block;
  color:white;
}

.tooltiptext{
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;

}

.downloads li:hover .tooltiptext{
    visibility: visible;
}


footer {
    bottom: 0px;
    background: white;
}
