---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minimal";

.site.logo{
	content: url("/assets/A_pharmetheus.png");
	display: inline-block;
	position: relative;
	width: 35px;
	top: 10px;
}

site.title{
color:#4D858E
}

h1{
color:#4D858E
}
