<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        
         {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}
        
        <h1><a href="https://github.com/ForestCoursePAGE2022/ForestCoursePAGE2022">{{ site.title | default: site.github.repository_name }}</a></h1>

       

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <!--
        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}
         -->

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}

        {% if site.show_downloads %}
        
        <h3> Package Installation </h3>
        <ul class="downloads">
          <li><a href="{{}}"></a></li>
          <li><a href="https://github.com/ForestCoursePAGE2022/ForestCoursePAGE2022/raw/main/ForestCoursePage2022pkgs.zip">Download <strong>ZIP</strong></a></li>
          <li><a href="{{}}"></a></li>
        </ul>
        
        
         <h3> PMX Forest Package</h3>
        <ul class="downloads">
          <li><a href="{{ }}"> </a></li>
          <li><a href="{{ }}">Download <strong>ZIP</strong></a><span class="tooltiptext"> This link is not active yet. </span></li>
          <li><a href="{{ }}"> </a></li>
        </ul>
        
        
        <h3> Discussion Forum</h3>
         <ul class="downloads">
          <li></li>
          <li><a href="https://github.com/ForestCoursePAGE2022/ForestCoursePAGE2022/discussions"> Discussion <strong>Forum</strong></a></li>
          <li></li>
        </ul>
       
        <h3> Handouts </h3>
         <ul class="downloads">
          <li></li>
          <li><a href=" ">Download <strong>Lectures</strong></a> <span class="tooltiptext"> This link is not active yet. </span> </li>
          <li></li>
        </ul>
        
        <h3> Hands-on 1 </h3>
         <ul class="downloads">
          <li><a href="https://github.com/ForestCoursePAGE2022/ForestCoursePAGE2022/raw/main/CourseMaterial/Handson/Instructions/Handson1%20instructions.zip">Download <strong>Assignment</strong></a> <span class="tooltiptext"> This link is not active yet. </span></li>
           <li></li>
          <li><a href="https://github.com/ForestCoursePAGE2022/ForestCoursePAGE2022/raw/main/CourseMaterial/Handson/Answers/Handson1%20answers.zip">Download <strong>Answers</strong></a> <span class="tooltiptext"> This link is not active yet. </span></li>
        </ul>
        
        
        <h3>Hands-on 2 </h3>
         <ul class="downloads">
          <li><a href="https://github.com/ForestCoursePAGE2022/ForestCoursePAGE2022/raw/main/CourseMaterial/Handson/Instructions/Handson2%20instructions.zip">Download <strong>Assignment</strong></a> <span class="tooltiptext"> This link is not active yet. </span> </li>
           <li></li>
          <li><a href="https://github.com/ForestCoursePAGE2022/ForestCoursePAGE2022/raw/main/CourseMaterial/Handson/Answers/Handson2%20answers.zip">Download <strong>Answers</strong></a> <span class="tooltiptext"> This link is not active yet. </span> </li>
        </ul>
        
        
 

        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
